.employee {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .employee.inactive {
    border-left: 5px solid red;
  }

  .employee.active {
    border-left: 5px solid lime;
  }
  
  .employee h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}